.movie-details {
  display: flex;
  flex-direction: row;
  padding: 25px 20px 30px;
  justify-content: space-between;

  .movie-details-image {
      width: 48%;
  }
  .movie-details-info {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .movie-details-title {
      font-size: 36px;
      line-height: 49px;
      letter-spacing: -0.015em;
    }

    .movie-details-year {
      font-size: 24px;
      line-height: 33px;
      letter-spacing: -0.015em;
    }

    .movie-details-subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.015em;
      margin-bottom: 10px;
    }

    .movie-details-synopsis {
      height: 70%;
      border: 1px solid #E1E1E1;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 15px 30px 15px 20px;
      font-size: 16px;
      line-height: 22px;
      text-align: justify;
      letter-spacing: -0.015em;
      color: #9E9E9E;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .movie-details {
    padding: 15px 0;
    flex-direction: column;

    .movie-details-image {
      width: 100%;
    }

    .movie-details-info {
      width: 100%;
      padding: 15px 20px;

      .movie-details-title {
        font-size: 24px;
        line-height: 33px;
      }

      .movie-details-subtitle {
        color: #9E9E9E;
      }
    }
  }
}