.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 135px;

  .movies-catalog {
    margin: 40px 0 45px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-gap: 30px;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .movies-container {
    margin: 20px 20px;
    
    .movies-catalog {
      justify-content: space-around;
    }
  }
}

@media (max-width: 576px) {
  .movies-container {
    .movies-catalog {
      justify-content: center;
      margin: 20px 0 25px;
      grid-template-columns: repeat(auto-fill, 370px);
      grid-gap: 20px;
    }
  }
}